.navbar {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 50;
}

.nav-container {
  max-width: 1240px;
  height: 88px;

  margin: auto;
  padding: 0 28px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =========================
   BRAND
========================= */

.brand {
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: "Manrope", sans-serif;
  font-size: 19px;
  font-weight: 800;
}

.brand > span > span {
  color: var(--green);
}

/* =========================
   NAV LINKS
========================= */

.nav-links {
  display: flex;
  align-items: center;
  gap: 36px;

  color: #66736b;

  font-size: 14px;
  font-weight: 500;
}

.nav-links a {
  position: relative;

  transition: color 0.2s ease;
}

.nav-links a::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -6px;

  width: 0;
  height: 1px;

  background: var(--green);

  transition: width 0.2s ease;
}

.nav-links a:hover {
  color: var(--green);
}

.nav-links a:hover::after {
  width: 100%;
}

/* =========================
   NAV ACTIONS
========================= */

.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-login {
  font-size: 14px;
  font-weight: 600;

  transition: color 0.2s ease;
}

.nav-login:hover {
  color: var(--green);
}

.nav-signup {
  padding: 12px 19px;

  border-radius: 10px;

  background: var(--dark);
  color: white;

  font-size: 13px;
  font-weight: 600;

  transition:
    transform 0.25s ease,
    background 0.25s ease;
}

.nav-signup:hover {
  transform: translateY(-2px);
  background: var(--green);
}

/* =========================
   TABLET
========================= */

@media (max-width: 1000px) {
  .nav-links {
    display: none;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {
  .nav-container {
    height: 75px;
    padding: 0 18px;
  }

  .nav-login {
    display: none;
  }

  .nav-signup {
    padding: 10px 13px;
  }
}